<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @subject_thread.subject_id %>
</p>

<p>
  <b>Year:</b>
  <%= @subject_thread.year_id %>
</p>

<p>
  <b>Name:</b>
  <%= @subject_thread.name %>
</p>


<%= link_to 'Edit', edit_subject_thread_path(@subject_thread) %> |
<%= link_to 'Back', subject_threads_path %>
