<%= title 'Answer Card Types', link_to('New Answer Card Type', new_answer_card_type_path) %>

<table id="answer_card_types" class="display is-datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parameters</th>
      <th>Card</th>
    </tr>
  </thead>

  <tbody>
  <% @answer_card_types.each do |answer_card_type| %>
    <tr>
      <td>
        <%= answer_card_type.name %>
        <span class='float-right'>
          <%= link_to 'Edit', edit_answer_card_type_path(answer_card_type) %>
        </span>
      </td>
      <td><%= answer_card_type.parameters %></td>
      <td><%= answer_card_type.card %></td>
    </tr>
  <% end %>
  </tbody>
</table>
