<%= f.input :elite_id, label: 'Elite ID' %>
<%= f.input :email %>

<%= f.input :name, placeholder: 'Nome completo, sem abreviações' %>

<%= f.input :address, :as => :string, placeholder: 'Coloque seu endereço aqui' %>
<%= f.input :suburb, placeholder: 'Coloque seu bairro aqui' %>
<%= f.input :city, placeholder: 'Coloque sua cidade aqui' %>
<%= f.input :state, as: :select, collection: Employee::STATES %>

<%= f.input :personal_email, placeholder: 'Coloque seu email pessoal aqui' %>

<%= f.input :identification, placeholder: 'Número do RG' %>
<%= f.input :expeditor, placeholder: 'Orgão Exp.' %>
<%= f.input :cpf, placeholder: 'Apenas números' %>

<%= f.input :cellphone, placeholder: 'Apenas números',
  input_html: { class: 'telephone_input' } %>
<%= f.input :alternative_cellphone, placeholder: 'Apenas números',
  input_html: { class: 'telephone_input' } %>
<%= f.input :telephone, placeholder: 'Apenas números',
  input_html: { class: 'telephone_input' } %>
  <%= f.input :alternative_telephone, placeholder: 'Apenas números',
  input_html: { class: 'telephone_input' } %>
<%= f.input :contact_telephone, placeholder: 'Apenas números',
  input_html: { class: 'telephone_input' } %>
<%= f.input :contact_name, placeholder: 'Ex.: Mãe' %>

<%= f.input :formatted_date_of_birth, input_html: { class: 'date' },
  label: 'Date of birth' %>
<%= f.input :gender, as: :select, 
  collection: ['Masculino', 'Feminino'] %>
<%= f.input :marital_status, as: :select,
  collection: ['Solteiro(a)', 'Casado(a)', 'Separado(a)', 'Divorciado(a)', 'Viúvo(a)'] %>

<%= f.input :formatted_date_of_admission, input_html: { class: 'date' },
  label: 'Date of admission' %>
<%= f.association :elite_role %>

<%= f.input :workload, hint: 'Horas por semana.' %>
<%= f.input :contract_type, hint: 'CLT, CNPJ' %>
<%= f.input :cost_per_hour, hint: 'Em reais.' %>

<%= f.input :pis_pasep %>
<%= f.input :working_paper_number %>

<div id='image'>
  <%= image_tag(@employee.photo_url(:thumb)) if @employee.photo? %>
  <%= f.input :photo, wrapper_html: { id: 'photo_wrapper' } %>
  <% if @employee.photo? %>
    <label id='remove_label'><%= f.check_box :remove_photo %><%= t(:remove) %></label>
  <% end %>
</div>