<%= f.hidden_field :_destroy, class: 'destroy' %>
<%= f.input :nickname %>

<%= f.input :graduated, as: :radio_buttons, wrapper_html: { id: "person_graduated" } %>
<%= f.association :major %>
<%= f.input :institute, placeholder: "Ex: UFRJ" %>
<%= f.input :bachelor, as: :radio_buttons %>
<%= f.input :cref, as: :radio_buttons %>
<%= f.input :time_teaching, placeholder: "Ex: 10 anos" %>

<%= f.simple_fields_for :professional_experiences do |builder| %>
  <%= render 'employees/form/professional_experience_fields', f: builder %>
<% end %>
<p class="add_field"><%= link_to_add_fields "Adicionar", f, :professional_experiences %></p>

<%= f.input :post_graduated, as: :radio_buttons, wrapper_html: { id: "employee_post_graduated" } %>
<%= f.input :post_graduated_comment, label: 'Comment' %>

<%= f.association :subjects %>

<table id='product_group_preferences'>
  <colgroup span='1'></colgroup>
  <tr>
    <th></th>
    <th>Gosto</th>
    <th>Posso dar aula</th>
    <th>Não dou aula</th>
    <% if @employee.teacher.errors.any? %>
      <th></th>
    <% end %>
  </tr>
  <%= f.simple_fields_for :product_group_preferences do |builder| %>
      <%= builder.input :preference, 
        wrapper: :table_wrapper, 
        collection: 1..3, 
        as: :radio_buttons, 
        label: builder.object.product_group.name,
        boolean_style: :inline, 
        item_wrapper_tag: :td,
        wrapper_tag: :tr %>
      <%= builder.hidden_field :product_group_id %>
      <%= builder.hidden_field :teacher_id %>
  <% end %>
</table>

<p>Escolha quais são as Unidades de sua preferência.</p>
<%= f.association :campus_preferences, label: false, wrapper_html: { id: 'campus_preferences' } %>

<p>Marque a seguir a sua disponibilidade para o ano de 2013.</p>
<%= period_input f, :morning %>
<%= period_input f, :afternoon %>
<%= period_input f, :evening %>

<table id='weekend'>
  <tr>
    <td class='first'>Sábado</td>
    <td><%= f.input :saturday_moning, label: 'Manhã' %></td>
    <td><%= f.input :saturday_afternoon, label: 'Tarde' %></td>
  </tr>
  <tr>
    <td class='first'>Domingo</td>
    <td><%= f.input :sunday_morning, label: 'Manhã' %></td>
    <td><%= f.input :sunday_afternoon, label: 'Tarde' %></td>
  </tr>
</table>

<%= f.input :administrative_job, :as => :radio_buttons,
  collection: [['Sim', true], ['Não', false]], label: 'Você tem interesse em Cargos Adminstrativos?', 
  wrapper_html: { id: 'administrative_job_wrapper' } %>
