<%= title 'Informações Pessoais' %>

<%= simple_form_for(@employee, html: { multipart: true }, url: personal_info_path(@employee)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "Nome completo, sem abreviações", label: 'Nome' %>

    <%= f.simple_fields_for :address do |builder| %>
      <%= render 'addresses/fields', f: builder %>
    <% end %>
    <%= f.input :personal_email, placeholder: "Coloque seu email pessoal aqui", label: 'Email pessoal' %>

    <%= f.input :identification, placeholder: "Número do RG", label: 'RG' %>
    <%= f.input :expeditor, placeholder: "Orgão Exp.", label: 'Órgão Exp.' %>
    <%= f.input :cpf, placeholder: "Apenas números", label: 'CPF' %>

    <%= f.input :cellphone, placeholder: "Apenas números",
      input_html: { class: "telephone_input", label: 'Celular' } %>
    <%= f.input :alternative_cellphone, placeholder: "Apenas números",
      input_html: { class: "telephone_input", label: 'Celular alternativo' } %>
    <%= f.input :telephone, placeholder: "Apenas números",
      input_html: { class: "telephone_input", label: 'Telefone' } %>
      <%= f.input :alternative_telephone, placeholder: "Apenas números",
      input_html: { class: "telephone_input", label: 'Telefone alternativo' } %>

    <div id="image">
      <%= image_tag(@employee.photo_url(:thumb)) if @employee.photo? %>
      <%= f.input :photo, wrapper_html: { id: "photo_wrapper" }, label: 'Foto' %>
      <% if @employee.photo? %>
        <label id="remove_label"><%= f.check_box :remove_photo %><%= t(:remove) %></label>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Próximo' %>
  </div>
<% end %>


