<%= simple_form_for(@employee, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class='form-inputs'>
    <%= render 'employees/form/fields', f: f %>

    <% if current_employee.admin? %>
      <h2>Credenciais</h2>
      <%= f.input :roles, label: '', as: :check_boxes, wrapper_html: { id: 'employee_roles' }, 
        collection: Employee::ROLES.map{|x| [Employee.translate_role(x.humanize), x]} %>

      <div id='campus_head_teacher_fields'>
        <h2>Coordenador</h2>
        <%= f.simple_fields_for :campus_head_teacher do |builder| %>
          <%= render 'employees/form/campus_head_teacher_fields', f: builder %>
        <% end %>
      </div>

      <% if false %>
      <div id='product_head_teacher_fields'>
        <h2>Product Head Teacher</h2>
        <%= f.simple_fields_for :product_head_teacher do |builder| %>
          <%= render 'employees/form/product_head_teacher_fields', f: builder %>
        <% end %>
      </div>

      <div id='subject_head_teacher_fields'>
        <h2>Subject Head Teacher</h2>
        <%= f.simple_fields_for :subject_head_teacher do |builder| %>
          <%= render 'employees/form/subject_head_teacher_fields', f: builder %>
        <% end %>
      </div>

      <div id='campus_principal_fields'>
        <h2>Campus Principal</h2>
        <%= f.simple_fields_for :campus_principal do |builder| %>
          <%= render 'employees/form/campus_principal_fields', f: builder %>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>
