<%= title 'Employees', 
  (link_to('New Employee', new_employee_path) if can?(:create, Employee)) %>

<table id='employees' class='display is-datatable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>EliteID</th>
      <th>Roles</th>
    </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <%= employee.name %>
        <span>
          <%= link_to 'Show', employee_path(employee) %>
          <% if can?(:update, employee) %>
            | <%= link_to 'Edit', edit_employee_path(employee) %> 
          <% end %>
          <% if can?(:update, :employee_sessions) %>
            | <%= link_to 'Login as', login_as_path(employee) %>
          <% end %>
        </span>
      </td>
      <td><%= employee.elite_id %></td>
      <td><%= employee.roles.map(&:titleize).join(', ') %></td>
    </tr>
  <% end %>
  </tbody>
</table>