<%= title 'Funcionários', 
  (link_to('Novo Funcionário', new_employee_path) if can?(:create, Employee)) %>

<table id='employees' class='display is-datatable'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Credenciais</th>
    </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <%= employee.name %>
        <span>
          <%= link_to 'Mostrar', employee_path(employee) %>
          <% if can?(:update, employee) %>
            | <%= link_to 'Editar', edit_employee_path(employee) %> 
          <% end %>
          <% if can?(:update, :employee_sessions) %>
            | <%= link_to 'Entrar como', login_as_path(employee) %>
          <% end %>
        </span>
      </td>
      <td><%= employee.roles.map(&:titleize).join(', ') %></td>
    </tr>
  <% end %>
  </tbody>
</table>