<%= title 'Employees', link_to('New Employee', new_employee_path) %>

<table id='employees' class='display datatable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>EliteID</th>
      <th>Roles</th>
    </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td>
        <%= employee.name %>
        <span style='float: right;'>
          <%= link_to 'Show', employee_path(employee) %> |
          <%= link_to 'Edit', edit_employee_path(employee) %> |
          <%= link_to 'Login as', login_as_path(employee) %>
        </span>
      </td>
      <td><%= employee.elite_id %></td>
      <td><%= employee.roles.map(&:titleize).join(', ') %></td>
    </tr>
  <% end %>
  </tbody>
</table>