<%= f.input :elite_id, label: 'Elite ID' %>
<%= f.input :email %>

<%= f.input :roles, as: :check_boxes, wrapper_html: { id: 'employee_roles' }, 
  collection: Employee::ROLES.map{|x| [x.humanize, x]} %>

<div id='teacher_fields'>
  <h3>Teacher</h3>
  <%= f.simple_fields_for :teacher, @person.employee.teacher do |builder| %>
    <%= render 'teacher_fields', f: builder %>
  <% end %>
</div>

<div id='campus_head_teacher_fields'>
  <h3>Campus Head Teacher</h3>
  <%= f.simple_fields_for :campus_head_teacher do |builder| %>
    <%= render 'campus_head_teacher_fields', f: builder %>
  <% end %>
</div>

<div id='product_head_teacher_fields'>
  <h3>Product Head Teacher</h3>
  <%= f.simple_fields_for :product_head_teacher do |builder| %>
    <%= render 'product_head_teacher_fields', f: builder %>
  <% end %>
</div>

<div id='subject_head_teacher_fields'>
  <h3>Subject Head Teacher</h3>
  <%= f.simple_fields_for :subject_head_teacher do |builder| %>
    <%= render 'subject_head_teacher_fields', f: builder %>
  <% end %>
</div>

