<%= simple_form_for(@student) do |f| %>
  <%= f.error_notification %>

  <div class='form-inputs'>
    <h2>Informação</h2>
    <%= f.input :name, label: 'Nome' %>
    <%= f.input :email, label: 'Email' %>
    <%= f.input :ra, label: 'RA' %>

    <h2>Matrículas</h2>
    <%= f.association :enrolled_klazzes, 
      collection: Klazz.all,
      label_method: :name,
      label: 'Turmas' %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>
