<%= title @is_bolsao ? 'Candidatos' : 'Alunos', link_to(@is_bolsao ? 'Novo Candidato' : 'Novo Aluno', new_student_path(is_bolsao: @is_bolsao)) %>

<%= form_tag students_path(is_bolsao: @is_bolsao), :method => 'get' do %>
  <p>
    <%= select_tag :exam_date, 
      options_for_select(
        ExamExecution.where(super_klazz_id: SuperKlazz.where(campus_id: Campus.accessible_by(current_ability).map(&:id)), exam_cycle_id: ExamCycle.where(is_bolsao: true).map(&:id)).map(&:datetime).map(&:to_date).uniq.sort.reverse,
        params[:exam_date])
    %>
    <%= hidden_field_tag :is_bolsao, true %>
    <%= submit_tag "Filtrar", :name => nil %>
  </p>
<% end %>

<table id="students" class="display is-datatable">
  <thead>
    <tr>
      <th>Nome</th>
      <th><%= @is_bolsao? 'Inscrição' : 'RA' %></th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
  <% @students.find_each do |student| %>
    <tr>
      <td>
        <%= student.try(:name) || '' %>
        <span style='float: right;'>
          <% if !@is_bolsao %>
            <%= link_to 'Mostrar', student_path(student) %> |
          <% end %>          
          <% if can?(:update, student) %>          
            <%= link_to 'Editar', edit_student_path(student, is_bolsao: @is_bolsao) %>
          <% end %>          
          <% if can?(:destroy, student) %>
            | <%= link_to 'Deletar', student, {method: :delete, confirm: 'Are you sure?'} %>
          <% end %>
        </span>
      </td>
      <td><%= @is_bolsao? student.try(:number) : student.try(:ra) %></td>
      <td><%= student.try(:email) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
