<%= title 'Students', link_to('New Student', new_student_path) %>

<table id="students" class="display is-datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ra</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td>
        <%= student.name %>
        <span style='float: right;'>
          <%= link_to 'Show', student_path(student) %> |
          <%= link_to 'Edit', edit_student_path(student) %> |
          <%= link_to 'Destroy', student, method: :delete, confirm: 'Are you sure?' %>
        </span>
      </td>
      <td><%= student.ra %></td>
      <td><%= student.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
