<%= title @student.name + (@student.ra.nil? ? '' : ' - ' + @student.ra), 
  link_to('Back', students_path) %>

<div class='tabs'>
  <ul>
    <li><a href='#info'>Info</a></li>
    <li><a href='#exams'>Exams</a></li>
  </ul>

  <div id='info'>
    <div class='resource'>
      <%= show_group 'Contact',
        {
          'Email' => @student.email,
          'Telephone' => @student.telephone,
          'Cellphone' => @student.cellphone
        }
      %>
      <%= show_group 'Documents',
        {
          'Cpf' => @student.cpf,
          'Own_cpf' => @student.own_cpf,
          'RG' => @student.rg,
          'Expeditor' => @student.rg_expeditor
        }
      %>
      <%= show_group 'Personal',
        {
          'Gender' => @student.gender,
          'Date of birth' => @student.date_of_birth
        }
      %>
      <%= show_group 'Family',
        {
          'Number of children' => @student.number_of_children,
          'Mother' => @student.mother_name,
          'Father' => @student.father_name
        }
      %>
      <%= show_group 'Address',
        {
          'Adress' => @student.address
        }
      %>
      <%= show_group 'General',
        {
          'Previous School' => @student.previous_school
        }
      %>
    </div>
  </div>

  <div id='exams'>
  </div>
</div>