<%= title @student.name + (@student.ra.to_s.blank? ? '' : ' - ' + @student.ra.to_s), 
  link_to('Edit', edit_student_path(@student)),
  link_to('Back', students_path) %>

<div class='tabs'>
  <ul>
    <li><a href='#info'>Info</a></li>
    <li><a href='#exams'>Exams</a></li>
  </ul>

  <div id='info'>
    <div class='resource'>
      <%= show_group 'Contact',
        {
          'Email' => @student.email,
          'Telephone' => @student.telephone,
          'Cellphone' => @student.cellphone
        }
      %>
      <%= show_group 'Documents',
        {
          'Cpf' => @student.cpf,
          'Own_cpf' => @student.own_cpf,
          'RG' => @student.rg,
          'Expeditor' => @student.rg_expeditor
        }
      %>
      <%= show_group 'Personal',
        {
          'Gender' => @student.gender,
          'Date of birth' => @student.date_of_birth
        }
      %>
      <%= show_group 'Family',
        {
          'Number of children' => @student.number_of_children,
          'Mother' => @student.mother_name,
          'Father' => @student.father_name
        }
      %>
      <% if @student.address.present? %>
        <%= show_group 'Address',
          {
            'Street' => @student.address.street,
            'Number' => @student.address.number,
            'Complement' => @student.address.complement,
            'Suburb' => @student.address.suburb,
            'City' => @student.address.city,
            'State' => @student.address.state
          } 
        %>
      <% end %>
      <%= show_group 'General',
        {
          'Previous School' => @student.previous_school
        }
      %>
    </div>
  </div>

  <div id='exams'>
    <table id='student_enrolled_exams' class='display is-datatable'>
      <thead>
        <tr>
          <th>Exam cycle</th>
          <th>Datetime</th>
        </tr>
      </thead>

      <tbody>
      <% @student.enrolled_exam_days.each do |exam_day| %>
        <tr>
          <td><%= exam_day.exam_cycle.name %></td>
          <td><%= print_datetime(exam_day.datetime) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>