<%= simple_form_for(@period, url: klazz_calendars_path) do |f| %>
  <%= f.error_notification %>

  <div class='form-inputs'>
    <div class='input'>
      <%= f.label :teacher_id, 'Teacher' %>
      <%= f.collection_select :teacher_id, Teacher.order(:nickname), 
        :id, :nickname, { include_blank: true } %>
    </div>

    <div class='input'>
      <%= f.label :subject_id, 'Subject' %>
      <%= f.collection_select :subject_id, Subject.order(:name), 
        :id, :name, { include_blank: true } %>
    </div>

    <div class='input'>
      <%= f.label :klazz_type_id, 'Klazz Type' %>
      <%= f.collection_select :klazz_type_id, KlazzType.order(:name), 
        :id, :name, { include_blank: true } %>
    </div>

    <%= f.hidden_field :date %>
    <%= f.hidden_field :position %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>
