<%= title 'Candidatos', 
  link_to('Novo Candidato', new_applicant_path) %>

<%= form_tag applicants_path, :method => 'get' do %>
  <p>
    <%= select_tag :exam_date, 
      options_for_select(
        ExamExecution.where(super_klazz_id: SuperKlazz.where(campus_id: Campus.accessible_by(current_ability).map(&:id)), exam_cycle_id: ExamCycle.where(is_bolsao: true).map(&:id)).map(&:datetime).map(&:to_date).uniq.sort.reverse,
        params[:exam_date])
    %>
    <%= submit_tag "Filtrar", :name => nil %>
  </p>
<% end %>

<table id="applicants" class="display is-datatable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Inscrição</th>
      <th>Turma</th>
    </tr>
  </thead>

  <tbody>
  <% @applicants.each do |applicant| %>
    <tr>
      <td>
        <%= applicant.name || '' %>
        <span style='float: right;'>
          <%= link_to 'Mostrar', applicant_path(applicant) %>
          <% if can?(:update, applicant) %>          
            | <%= link_to 'Editar', edit_applicant_path(applicant) %>
          <% end %>          
          <% if can?(:destroy, applicant) %>
            | <%= link_to 'Deletar', applicant, {method: :delete, confirm: 'Você tem certeza?'} %>
          <% end %>
        </span>
      </td>
      <td><%= applicant.number %></td>
      <td><%= applicant.super_klazz.try(:name) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
