<%= title 'Product Years', link_to('New Product Year', new_product_year_path) %>

<table id='product_years' class='display is-datatable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Product</th>
      <th>Product Type</th>
    </tr>
  </thead>

  <tbody>
  <% @product_years.each do |product_year| %>
    <tr>
      <td>
        <%= product_year.name %>
        <span class='float-right'>
          <%= link_to 'Show', product_year %> |
          <%= link_to 'Edit', edit_product_year_path(product_year) %>
        </span>
      </td>
      <td><%= product_year.year.number.to_s %></td>
      <td><%= product_year.product.name %></td>
      <td><%= product_year.product.product_type.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
