<%= title 'Produtos', link_to('Novo Produto', new_product_year_path) %>

<table id='product_years' class='display is-datatable'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ano</th>
      <th>Produto</th>
      <th>Segmento</th>
    </tr>
  </thead>

  <tbody>
  <% @product_years.each do |product_year| %>
    <tr>
      <td>
        <%= product_year.name %>
        <span class='float-right'>
          <%= link_to 'Mostrar', product_year %> |
          <%= link_to 'Editar', edit_product_year_path(product_year) %>
        </span>
      </td>
      <td><%= product_year.year.number.to_s %></td>
      <td><%= product_year.product.name %></td>
      <td><%= product_year.product.product_type.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
