<div id='admin'>

  <div class='section'>
    <%= link_to 'Product Types', product_types_path %><br />
    <%= link_to 'Product Groups', product_groups_path %><br />
    <%= link_to 'Products', products_path %><br />
    <%= link_to 'Years', years_path %><br />
    <%= link_to 'Campuses', campuses_path %><br />
    <%= link_to 'Klazzes', klazzes_path %><br />
  </div>

  <div class='section'>
    <%= link_to 'Employees', employees_path %><br />
    <%= link_to 'Subjects', subjects_path %><br />
    <%= link_to 'Klazz Types', klazz_types_path %><br />
  </div>

  <div class='section'>
    <%= link_to 'Majors', majors_path %><br />
    <%= link_to 'Elite Roles', elite_roles_path %><br />
    <%= link_to 'School Roles', school_roles_path %><br />
  </div>

  <div class='section'>
    <%= link_to 'Absence Reason', absence_reasons_path %><br />
    <%= link_to 'Teacher Absences', teacher_absences_path %><br />
  </div>

  <div class='section'>
    <%= link_to 'Polls', polls_path %><br />
    <%= link_to 'Question Types', question_types_path %><br />
    <%= link_to 'Question Categories', question_categories_path %><br />
  </div>
</div>