<div id='admin'>
  <div class='section'>
    <div class='link'><%= link_to 'Employees', employees_path %></div>
    <div class='link'><%= link_to 'Students', students_path %></div>    
  </div>

  <div class='section'>
    <div class='link'><%= link_to 'Product Types', product_types_path %></div>
    <div class='link'><%= link_to 'Product Groups', product_groups_path %></div>
    <div class='link'><%= link_to 'Products', products_path %></div>
    <div class='link'><%= link_to 'Campuses', campuses_path %></div>
    <div class='link'><%= link_to 'Klazz Types', klazz_types_path %></div>
  </div>

  <div class='section'>
    <div class='link'><%= link_to 'Subjects', subjects_path %></div>
    <div class='link'><%= link_to 'Questions', questions_path %></div>
    <div class='link'><%= link_to 'Topics', topics_path %></div>
  </div>

  <div class='section'>
    <div class='link'><%= link_to 'Years', years_path %></div>
    <div class='link'><%= link_to 'Subject Threads', subject_threads_path %></div>
    <div class='link'><%= link_to 'Exam Cycles', exam_cycles_path %></div>
  </div>

  <div class='section'>
    <div class='link'><%= link_to 'Klazzes', klazzes_path %></div>
    <div class='link'><%= link_to 'Exams', exams_path %></div>
    <div class='link'><%= link_to 'Student Exams', student_exams_path %></div>
  </div>

  <div class='section'>
    <div class='link'><%= link_to 'Majors', majors_path %></div>
    <div class='link'><%= link_to 'Elite Roles', elite_roles_path %></div>
    <div class='link'><%= link_to 'School Roles', school_roles_path %></div>
  </div>

  <div class='section'>
    <div class='link'><%= link_to 'Absence Reason', absence_reasons_path %></div>
    <div class='link'><%= link_to 'Teacher Absences', teacher_absences_path %></div>
  </div>

  <div class='section'>
    <div class='link'><%= link_to 'Polls', polls_path %></div>
    <div class='link'><%= link_to 'Poll Question Types', poll_question_types_path %></div>
    <div class='link'><%= link_to 'Poll Question Categories', poll_question_categories_path %></div>
  </div>
</div>