<div id='admin'>
  <div class='section'>
    <h2>Escola</h2>
    <div class='link'><%= link_to 'Anos', years_path %></div>
    <div class='link'><%= link_to 'Unidades', campuses_path %></div>
    <div class='link'><%= link_to 'Segmentos', product_types_path %></div>
    <div class='link'><%= link_to 'Produtos', product_years_path %></div>
    <div class='link'><%= link_to 'SuperTurmas', super_klazzes_path %></div>
    <div class='link'><%= link_to 'Turmas', klazzes_path %></div>
  </div>

  <div class='section'>
    <h2>Avaliações</h2>
    <div class='link'><%= link_to 'Ciclos', exam_cycles_path %></div>
    <div class='link'><%= link_to 'Provas', exams_path %></div>
    <div class='link'><%= link_to 'Calendário de Provas', exam_executions_path %></div>
    <div class='link'><%= link_to 'Arquivos Enviados', card_processings_path %></div>
    <div class='link'><%= link_to 'Resultados por dia', card_processing_upload_statuses_path %></div>
    <div class='link'><%= link_to 'Cartão-Resposta em Branco', new_student_exam_path(format: :pdf), :target => '_blank' %></div>
  </div>

  <div class='section'>
    <h2>Usuários</h2>
    <div class='link'><%= link_to 'Funcionários', employees_path %></div>
    <div class='link'><%= link_to 'Alunos', students_path %></div>
    <div class='link'><%= link_to 'Candidatos', applicants_path %></div>
  </div>

</div>