<div id="campus_head_teacher">
  <div class='section'>
    <h2>Geral</h2>
    <div class='link'><%= link_to 'Turmas', klazzes_path %></div>
    <div class='link'><%= link_to 'Unidades', campuses_path %></div>
    <div class='link'><%= link_to 'Alunos', students_path %></div>
  </div>

  <div class='section'>
    <h2>Provas</h2>
    <div class='link'><%= link_to 'Processamento de Cartões', card_processings_path %></div>
    <div class='link'><%= link_to 'Calendário', calendar_path %></div>
    <div class='link'><%= link_to 'Resultados', exam_results_path %></div>
    <div class='link'><%= link_to 'Cartão-Resposta em Branco', new_student_exam_path(format: :pdf), :target => '_blank' %></div>
  </div>
  </div>
  </div>
</div>
