<div id="campus_head_teacher">
  <% if !current_employee.operator? %>
  <div class='section'>
    <h2>Geral</h2>
    <div class='link'><%= link_to 'Turmas', klazzes_path %></div>
    <div class='link'><%= link_to 'Unidades', campuses_path %></div>
    <div class='link'><%= link_to 'Alunos', students_path %></div>
  </div>
  <% end %>

  <div class='section'>
    <h2>Provas</h2>
    <div class='link'><%= link_to 'Calendário de Provas', exam_executions_path %></div>
    <% if !current_employee.operator? %>
    <div class='link'><%= link_to 'Arquivos enviados', card_processings_path %></div>
    <div class='link'><%= link_to 'Cartão-Resposta em Branco', new_student_exam_path(format: :pdf), :target => '_blank' %></div>
    <% end %>
  </div>
</div>
