<div id="campus_head_teacher">
  <div class='section'>
    <h2>Geral</h2>
    <div class='link'><%= link_to 'Klazzes', klazzes_path %></div>
    <div class='link'><%= link_to 'Employees', employees_path %></div>
    <div class='link'><%= link_to 'Campuses', campuses_path %></div>
  </div>

  <div class='section'>
    <h2>Provas</h2>
    <div class='link'><%= link_to 'Card Processings', card_processings_path %></div>
    <div class='link'><%= link_to 'Appeal Form', 'https://docs.google.com/a/sistemaeliterio.com.br/forms/d/10-pqjkTkSioQUzJWt__PHClhw2Z0GK3_w6DPSJrmUjo/viewform' %></div>
  </div>
</div>
