<div id="teacher">
  <%= link_to 'Klazzes', klazzes_path %><br />
  <%= link_to 'Time Tables', teacher_klazz_period_path(current_employee.teacher) %><br />
  <%= link_to 'Personal Info', edit_personal_info_path(current_employee) %><br />
  <%= link_to 'Professional Info', edit_professional_info_path(current_employee.teacher) %><br />
  <%= link_to 'Schedule Info', edit_schedule_info_path(current_employee.teacher) %><br />
</div>