<%= title 'Calendário de Provas' %>

<%= form_tag exam_executions_path, :method => 'get' do %>
  <div id="filter_by_date" style="width:250px;float:left;margin-bottom:20px;">
    <h3>Data de Aplicação:</h3>
    <div id="left" style="float:left;min-height:25px;width:120px;">
    <%= select_tag :exam_date, 
      options_for_select(
        ExamExecution.where(super_klazz_id: SuperKlazz.where(campus_id: Campus.accessible_by(current_ability).map(&:id))).map(&:datetime).map(&:to_date).uniq.sort.reverse,
        params[:exam_date])
    %>
    </div>
    <div id="left" style="float:left;min-height:25px;width:75px;">
    <%= submit_tag "Filtrar", :name => nil %>
    </div>
  </div>
<% end %>

<table id="exam_executions" class="<%= "display is-datatable-exam-executions" + (current_employee.operator? ? "-operator" : "") %>">
  <thead>
    <tr>
      <th>Data Aplic.</th>
      <th>Codigo</th>
      <th>Prova</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
  <% @exam_executions.each do |exam_execution| %>
    <tr>
      <td><%= exam_execution.datetime.to_date.strftime('%Y-%m-%d') %></td>
      <td><%= exam_execution.exam_code %></td>
      <td><%= exam_execution.name || '' %></td>
      <td>
        <span style='float: left;'>
          <% if current_employee.operator? %>
            <%= link_to 'Imprimir', new_student_exam_path(format: :pdf, exam_execution_id: exam_execution.id, paint: 'Student+Exam'), :target => '_blank' %>
            | <%= link_to 'Imprimir2', new_student_exam_path(format: :pdf, exam_execution_id: exam_execution.id, paint: 'Student'), :target => '_blank' %>
            | <%= link_to 'Presença', attendance_exam_execution_path(format: :pdf, exam_execution_id: exam_execution.id), :target => '_blank'%>
          <% else %>
            <%= link_to( 'Enviar', new_card_processing_path(exam_execution_id: exam_execution.id), :target => '_blank' )%>
            | <%= link_to 'Imprimir', new_student_exam_path(format: :pdf, exam_execution_id: exam_execution.id, paint: 'Student+Exam'), :target => '_blank' %>
            | <%= link_to 'Imprimir2', new_student_exam_path(format: :pdf, exam_execution_id: exam_execution.id, paint: 'Student'), :target => '_blank' %>
            | <%= link_to 'Presença', attendance_exam_execution_path(format: :pdf, exam_execution_id: exam_execution.id), :target => '_blank'%>
            | <%= link_to 'Cartões', cards_exam_execution_path(exam_execution_id: exam_execution.id), :target => '_blank'%>
            | <%= link_to 'CSV', scanned_md5_exam_execution_path(exam_execution_id: exam_execution.id, format: 'csv') %>
          <% end %>
        </span>
        <span style='float: left;margin-top: 3px;'>
          <% if exam_execution.card_processings.size > 0 %>
              <%= image_tag('correct16.png', id: 'correct_check') %>
          <% end %>
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>