<%= title 'Calendário de Provas' + @filter_by %>

<table id="exam_executions" class="<%= "display is-datatable-exam-executions" + (current_employee.operator? ? "-operator" : "") %>">
  <thead>
    <tr>
      <th>Data Aplicação</th>
      <th>Prova</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
  <% @exam_executions.sort_by(&:datetime).reverse.each do |exam_execution| %>
    <tr>
      <td><%= exam_execution.datetime.to_date.strftime('%Y-%m-%d') %></td>
      <td><%= exam_execution.full_name %></td>
      <td>
        <span style='float: left;'>
          <% if !current_employee.operator? %>
              <%= link_to( 'Enviar', new_card_processing_path(exam_execution_id: exam_execution.id), :target => '_blank' ) %>
              | <%= link_to 'Imprimir', new_student_exam_path(format: :pdf, exam_execution_id: exam_execution.id), :target => '_blank' %>
              | <%= link_to 'Resultado', result_exam_execution_path(exam_execution_id: exam_execution.id), :target => '_blank' %>
              | <%= link_to 'Presença', attendance_exam_execution_path(format: :pdf, exam_execution_id: exam_execution.id), :target => '_blank'%>
              | <%= link_to 'Cartões', cards_exam_execution_path(exam_execution_id: exam_execution.id) %>
            <% if current_employee.admin? %>
              | <%= link_to 'Download', scanned_exam_execution_path(exam_execution_id: exam_execution.id, format: 'csv') %>
            <% end %>
          <% else %>
            <%= link_to 'Imprimir', new_student_exam_path(format: :pdf, exam_execution_id: exam_execution.id), :target => '_blank' %>
            | <%= link_to 'Presença', attendance_exam_execution_path(format: :pdf, exam_execution_id: exam_execution.id), :target => '_blank'%>
          <% end %>
        </span>
        <span style='float: left;margin-top: 3px;'>
          <% if exam_execution.card_processings.size > 0 %>
              <%= image_tag('correct16.png', id: 'correct_check') %>
          <% end %>
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>