<%= title 'Calendário de Provas' %>

<table id="exam_executions" class="display is-datatable-exam-executions">
  <thead>
    <tr>
      <th>Data Aplic.</th>
      <th>Prova</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
  <% @exam_executions.sort_by(&:datetime).reverse.each do |exam_execution| %>
    <tr>
      <td><%= exam_execution.datetime.to_date.strftime('%Y-%m-%d') %></td>
      <td><%= exam_execution.full_name %></td>
      <td>
        <span style='float: left;'>
          <%= link_to( 'Enviar', new_card_processing_path(exam_execution_id: exam_execution.id), :target => '_blank' )%>
          | <%= link_to 'Imprimir', new_student_exam_path(format: :pdf, exam_execution_id: exam_execution.id, paint: 'Student+Exam'), :target => '_blank' %>
          | <%= link_to 'Imprimir2', new_student_exam_path(format: :pdf, exam_execution_id: exam_execution.id, paint: 'Student'), :target => '_blank' %>
          | <%= link_to 'Presença', attendance_exam_execution_path(format: :pdf, exam_execution_id: exam_execution.id), :target => '_blank'%>
          | <%= link_to 'Cartões', cards_exam_execution_path(exam_execution_id: exam_execution.id), :target => '_blank'%>
          | <%= link_to 'CSV', scanned_exam_execution_path(exam_execution_id: exam_execution.id, format: 'csv') %>
        </span>
        <span style='float: left;margin-top: 3px;'>
          <% if false && exam_execution.card_processings.size > 0 %>
              <%= image_tag('correct16.png', id: 'correct_check') %>
          <% end %>
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>