<%= title @teacher.nickname + ' Absences' %>

<%= form_tag teacher_absence_path(@teacher), method: 'get' do %>
  <%= select_date @date, discard_day: true %>
  <%= submit_tag 'Go' %>
<% end %>

<% if @periods.empty? %>
  <p>No absences.</p>
<% else %>
  <% @periods.group_by(&:date).each do |date, periods| %>
    <p><%= date %></p>
    <p>
      <% periods.each do |period| %>
        <%= period.time %> 
        <%= period.teaching_assignment.klazz.name %> 
        (<%= period.teaching_assignment.subject.code %>)
        <br />
      <% end %>
    </p>
  <% end %>
<% end %>