<%= title @teacher.nickname + ' Absences' %>

<%= form_tag teacher_absence_path(@teacher), method: 'get' do %>
  <%= select_date @date, discard_day: true %>
  <%= submit_tag 'Go' %>
<% end %>

<% if @klazz_periods.empty? %>
  <p>No absences.</p>
<% else %>
  <% @klazz_periods.group_by(&:date).each do |date, klazz_periods| %>
    <p><%= date %></p>
    <p>
      <% klazz_periods.each do |klazz_period| %>
        <%= klazz_period.time %> 
        <%= klazz_period.teaching_assignment.klazz.name %> 
        (<%= klazz_period.teaching_assignment.subject.code %>)
        <br />
      <% end %>
    </p>
  <% end %>
<% end %>