<%= title 'Card Types', link_to('New Card Type', new_card_type_path) %>

<table id="card_types" class="display is-datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parameters</th>
      <th>Card</th>
    </tr>
  </thead>

  <tbody>
  <% @card_types.each do |card_type| %>
    <tr>
      <td>
        <%= card_type.name %>
        <span class='float-right'>
          <%= link_to 'Edit', edit_card_type_path(card_type) %>
        </span>
      </td>
      <td><%= card_type.parameters %></td>
      <td><%= card_type.card %></td>
    </tr>
  <% end %>
  </tbody>
</table>
