<%= title 'Check Student Exam', 
  (link_to('Mark as Error', error_student_exam_path(@student_exam)) if @student_exam.status != StudentExam::ERROR_STATUS),
  link_to('Back', @student_exam.card_processing) %>

<% if @student_exam.student_not_found? %>
  <h2>Student was not found</h2>
  <%= image_tag @student_exam.card.student_url %>
  <div style='height: 50px;'></div>
  <div class='tabs'>
    <ul>
      <li><a href='#existing_student'>Existing Student</a></li>
      <li><a href='#new_student'>New Student</a></li>
    </ul>

    <div id='existing_student'>
      <%= simple_form_for(@student_exam) do |f| %>
        <div class='form-inputs'>
          <div class='input'>
            <%= f.label :student_id %>
            <%= collection_select :mock, :student_ra, @possible_students, :id, :ra, include_blank: true %>
            <%= f.collection_select :student_id, @possible_students, :id, :name, include_blank: true %>
          </div>
        </div>

        <div class='form-actions'>
          <%= f.submit 'Finish', class: 'btn' %>
          <%= f.submit 'Continue' %>
        </div>
      <% end %>
    </div>
      
    <div id='new_student'>
      <%= simple_form_for(@student_exam) do |f| %>
        <div class='form-inputs'>
          <%= f.simple_fields_for @new_student do |ff| %>
            <%= ff.input :name %>
            <%= ff.association :enrolled_super_klazzes, 
              collection: @student_exam.campus.super_klazzes,
              label: 'SuperKlazz',
              label_method: :product_year_name, 
              input_html: { multiple: false } %>
          <% end %>
        </div>

        <div class='form-actions'>
          <%= f.submit 'Finish', class: 'btn' %>
          <%= f.submit 'Continue' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  
<% elsif @student_exam.exam_not_found? %>
  <% if @student_exam.possible_exam_days.size > 1 %>
    <h2>More than one exam is possible for this student</h2>
    <p>
      <strong>RA: </strong><%= @student_exam.student.ra.to_s %><br />
      <strong>Student: </strong><%= @student_exam.student.name %><br />
      <strong>SuperKlazzes: </strong><%= @student_exam.student.enrolled_super_klazzes.
        map(&:product_year).map(&:product).map(&:name).join(' ') %><br />
    </p>

    <%= simple_form_for(@student_exam) do |f| %>
      <%= f.error_notification %>
      <div class='form-inputs'>
        <%= f.association :exam_day, 
          collection: @student_exam.possible_exam_days %>
      </div> 
      <div class='form-actions'>
        <%= f.submit 'Finish', class: 'btn' %>
        <%= f.submit 'Continue' %>
      </div>
    <% end %>
  <% else %>
    <h2>No exams available for this student</h2>

    <%= image_tag @student_exam.card.student_url %>
    <p>
      <strong>RA: </strong><%= @student_exam.student.ra.to_s %><br />
      <strong>Student: </strong><%= @student_exam.student.name %><br />
    </p>

    <%= simple_form_for(@student_exam) do |f| %>
      <%= f.error_notification %>
      <div class='form-inputs'>
        <%= f.simple_fields_for @student_exam.student do |ff| %>
          <%= ff.association :enrolled_super_klazzes,
            collection: @student_exam.campus.super_klazzes %>
        <% end %>
      </div> 
      <div class='form-actions'>
        <%= f.submit 'Finish', class: 'btn' %>
        <%= f.submit 'Continue' %>
      </div>
    <% end %>
  <% end %>

<% elsif @student_exam.invalid_answers? %>
  <h2>Some answers were zero or wrong</h2>

  <%= simple_form_for(@student_exam) do |f| %>
    <%= f.error_notification %>
    <div class='form-inputs'>
      <%= f.fields_for :exam_answers, @student_exam.answers_needing_check do |exam_fields| %>
        <%= image_tag exam_fields.object.image_url %>
        <div class='radio-buttons'>
          <%= exam_fields.collection_radio_buttons :answer, 
            exam_fields.object.options.map{|x| [x, x]}, :first, :last %>
        </div>
      <% end %>
    </div>
  
    <div class='form-actions'>
      <%= f.submit 'Finish', class: 'btn' %>
      <%= f.submit 'Continue' %>
    </div>
  <% end %>

<% elsif @student_exam.error? %>
  <h2>Erro processing card</h2>

  <%= simple_form_for(@student_exam) do |f| %>
    <%= f.error_notification %>
    <div class='form-inputs'>
      <%= f.input :student_number %>
      <%= f.input :string_of_answers %>
    </div>
  
    <div class='form-actions'>
      <%= f.submit 'Finish', class: 'btn' %>
      <%= f.submit 'Continue' %>
    </div>
  <% end %>

<% end %>