<%= title 'Checagem Cartão-resposta', 
  (link_to('Marcar como Erro', error_student_exam_path(@student_exam)) if @student_exam.status != StudentExam::ERROR_STATUS),
  link_to('Voltar', @student_exam.card_processing) %>

<% if @student_exam.student_not_found? %>
  <h2>Aluno não encontrado</h2>
  <%= image_tag @student_exam.card.student_url %>
  <div style='height: 50px;'></div>
  <div class='tabs'>
    <ul>
      <li><a href='#existing_student'>Aluno Existente</a></li>
      <li><a href='#new_student'>Novo Aluno</a></li>
    </ul>

    <div id='existing_student'>
      <%= simple_form_for(@student_exam) do |f| %>
        <div class='form-inputs'>
          <div class='input'>
            <%= f.label :student_id %>
            <% if @student_exam.is_bolsao %>            
            <%= collection_select :mock, :student_number, @possible_students, :id, :number, include_blank: true %>
            <% else %>
            <%= collection_select :mock, :student_ra, @possible_students, :id, :ra, include_blank: true %>
            <% end %>            
            <%= f.collection_select :student_id, @possible_students, :id, :name, include_blank: true %>
          </div>
        </div>

        <div class='form-actions'>
          <%= f.submit 'Finalizar', class: 'btn' %>
          <%= f.submit 'Continuar' %>
        </div>
      <% end %>
    </div>
      
    <div id='new_student'>
      <%= simple_form_for(@student_exam) do |f| %>
        <div class='form-inputs'>
          <%= f.simple_fields_for @new_student do |ff| %>
            <%= ff.input :name %>
            <%= ff.input :ra, hint: 'Deixe em branco para atribuir um RA temporário' %>
            <% if @student_exam.is_bolsao %>
              <% ff.object.applied_super_klazzes = [@student_exam.card_processing.try(:exam_execution).try(:super_klazz)].compact %>
              <%= ff.association :applied_super_klazzes, 
                collection: SuperKlazz.where(campus_id: @student_exam.campus, product_year_id: ProductYear.where(year_id: Year.last.id)).includes(:campus, :product_year),
                label: 'Turma',
                label_method: :product_year_name, 
                input_html: { multiple: false } %>
            <% else %>
              <% ff.object.enrolled_super_klazzes = [@student_exam.card_processing.try(:exam_execution).try(:super_klazz)].compact %>
              <%= ff.association :enrolled_super_klazzes, 
                collection: SuperKlazz.where(campus_id: @student_exam.campus, product_year_id: ProductYear.where(year_id: Year.last.id)).includes(:campus, :product_year),
                label: 'Turma',
                label_method: :product_year_name, 
                input_html: { multiple: false } %>              
            <% end %>
          <% end %>
        </div>

        <div class='form-actions'>
          <%= f.submit 'Finalizar', class: 'btn' %>
          <%= f.submit 'Continuar' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  
<% elsif @student_exam.exam_not_found? %>
  <% if true %>
    <h2>Foi encontrado mais de uma prova possível para este aluno</h2>
    <%= image_tag @student_exam.card.student_url %>
    <p>
      <strong>RA: </strong><%= @student_exam.student.ra.to_s %><br />
      <strong>Student: </strong><%= @student_exam.student.name %><br />
      <strong>SuperKlazzes: </strong><%= @student_exam.student.enrolled_super_klazzes.
        map(&:product_year).map(&:product).map(&:name).join(' ') %><br />
      <strong>Number of answers: </strong><%= @student_exam.number_of_marked_options.to_s %>
    </p>

    <%= simple_form_for(@student_exam) do |f| %>
      <%= f.error_notification %>
      <div class='form-inputs'>
        <%= f.association :exam_execution, 
          collection: @student_exam.possible_exam_executions %>
      </div> 
      <div class='form-actions'>
        <%= f.submit 'Finalizar', class: 'btn' %>
        <%= f.submit 'Continuar' %>
      </div>
    <% end %>
  <% else %>
    <h2>Não foram encontradas provas para este aluno</h2>

    <%= image_tag @student_exam.card.student_url %>
    <p>
      <strong>RA: </strong><%= @student_exam.student.ra.to_s %><br />
      <strong>Student: </strong><%= @student_exam.student.name %><br />
    </p>

    <%= simple_form_for(@student_exam) do |f| %>
      <%= f.error_notification %>
      <div class='form-inputs'>
        <%= f.simple_fields_for @student_exam.student do |ff| %>
          <%= ff.association :enrolled_super_klazzes,
            collection: @student_exam.campus.super_klazzes %>
        <% end %>
      </div> 
      <div class='form-actions'>
        <%= f.submit 'Finalizar', class: 'btn' %>
        <%= f.submit 'Continuar' %>
      </div>
    <% end %>
  <% end %>

<% elsif @student_exam.invalid_answers? %>
  <h2>Algumas respostas não foram encontradas</h2>

  <% @student_exam.create_exam_answers %>
  <%= simple_form_for(@student_exam) do |f| %>
    <%= f.error_notification %>


    <div class='form-inputs'>
      <%= f.fields_for :exam_answers, @student_exam.answers_needing_check do |exam_fields| %>
        <%= image_tag exam_fields.object.image_url %>
        <div class='radio-buttons'>
          <span class='number'><%= exam_fields.object.number.to_s %></span>
          <%= exam_fields.collection_radio_buttons :answer, 
            exam_fields.object.options.map{|x| [x, x]}, :first, :last %>
        </div>
      <% end %>
    </div>
  
    <div class='form-actions'>
      <%= f.submit 'Finalizar', class: 'btn' %>
      <%= f.submit 'Continuar' %>
    </div>
  <% end %>
  <%= @student_exam.exam_answers.size %>

<% elsif @student_exam.error? %>
  <h2>Houve um erro de processamento</h2>
  <div style='height: 10px;'></div>
  <div class='tabs'>
    <ul>
      <li><a href='#existing_student'>Aluno Existente</a></li>
      <li><a href='#new_student'>Novo Aluno</a></li>
    </ul>

    <div id='existing_student'>
      <%= simple_form_for(@student_exam) do |f| %>
        <div class='form-inputs'>
          <div class='input'>
            <%= label :mock, :student_id %>

            <% if @student_exam.is_bolsao %>            
            <%= collection_select :mock, :student_number, @possible_students, :id, :number, include_blank: true %>
            <% else %>
            <%= collection_select :mock, :student_ra, @possible_students, :id, :ra, include_blank: true %>
            <% end %>
            
            <%= f.collection_select :student_id, @possible_students, :id, :name, include_blank: true %>
            <%= f.input :string_of_answers , label: "Respostas"%>
            <%= label :mock, :exam_execution_id %>
            <%= f.collection_select :exam_execution_id, ExamExecution.where(super_klazz_id: @student_exam.campus.super_klazzes.map(&:id), datetime: (@student_exam.exam_date.beginning_of_day)..(@student_exam.exam_date.end_of_day)), :id, :full_name, include_blank: true %>            
          </div>
        </div>

        <div class='form-actions'>
          <%= f.submit 'Finalizar', class: 'btn' %>
          <%= f.submit 'Continuar' %>
        </div>
      <% end %>
    </div>
      
    <div id='new_student'>
      <%= simple_form_for(@student_exam) do |f| %>
        <div class='form-inputs'>
          <%= f.simple_fields_for @new_student do |ff| %>
            <%= ff.input :name %>
            <%= f.input :string_of_answers , label: "Respostas"%>
            <%= ff.association :enrolled_super_klazzes, 
              collection: @student_exam.campus.super_klazzes,
              label: 'Turma',
              label_method: :product_year_name, 
              input_html: { multiple: false } %>
          <% end %>
        </div>

        <div class='form-actions'>
          <%= f.submit 'Finalizar', class: 'btn' %>
          <%= f.submit 'Continuar' %>
        </div>
      <% end %>
    </div>
    <% if File.exist?('/home/deployer/apps/new_elite_app/shared' + @student_exam.card.to_s) %>
      <%= image_tag @student_exam.card.png.url, width: '500' %>
    <% else %>  
      <%= image_tag @student_exam.card.normalized_url, width: '500' %>
    <% end %>
  </div>

<% elsif @student_exam.repeated_student? %>
  <h2>Repeated Student</h2>
  <%= image_tag @student_exam.card.student_url %>
  <div style='height: 50px;'></div>
  <div class='tabs'>
    <ul>
      <li><a href='#existing_student'>Existing Student</a></li>
      <li><a href='#new_student'>New Student</a></li>
    </ul>

    <div id='existing_student'>
      <%= simple_form_for(@student_exam) do |f| %>
        <div class='form-inputs'>
          <div class='input'>
            <%= f.label :student_id %>
            <%= collection_select :mock, :student_ra, @possible_students, :id, :ra, include_blank: true %>
            <%= f.collection_select :student_id, @possible_students, :id, :name, include_blank: true %>
          </div>
        </div>

        <div class='form-actions'>
          <%= f.submit 'Finalizar', class: 'btn' %>
          <%= f.submit 'Continuar' %>
        </div>
      <% end %>
    </div>
      
    <div id='new_student'>
      <%= simple_form_for(@student_exam) do |f| %>
        <div class='form-inputs'>
          <%= f.simple_fields_for @new_student do |ff| %>
            <%= ff.input :name %>
            <%= ff.association :enrolled_super_klazzes, 
              collection: @student_exam.campus.super_klazzes,
              label: 'SuperKlazz',
              label_method: :product_year_name, 
              input_html: { multiple: false } %>
          <% end %>
        </div>

        <div class='form-actions'>
          <%= f.submit 'Finalizar', class: 'btn' %>
          <%= f.submit 'Continuar' %>
        </div>
      <% end %>
    </div>
  </div>


<% elsif not @student_exam.needs_check? %>
  <h2>Esse cartão já não precisa mais de correção. </h2>  
<% end %>