<%= title 'Student Exams', link_to('New', new_student_exam_path) %>

<table id='student_exam_checks' class='display is-datatable'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Student</th>
      <th>Exam</th>
      <th>Exam Cycle</th>
      <th>Year</th>
    </tr>
  </thead>

  <tbody>
  <% @student_exams.each do |student_exam| %>
    <tr>
      <td>
        <%= student_exam.status %>
        <span class='float-right'>
          <%= link_to 'Show', student_exam %>
          <% if student_exam.needs_check? %>
            | <%= link_to 'Check', edit_student_exam_path(student_exam) %>
          <% end %>
        </span>
      </td> 
      <td><%= student_exam.student.try(:name) || 'No student' %></td>
      <td><%= student_exam.exam.try(:name) || 'No exam' %></td>
      <td><%= student_exam.exam.try(:exam_cycle).try(:name) || 'No exam cycle' %></td>
      <td><%= student_exam.exam.try(:exam_cycle).try(:product_year).try(:name) || 'No year' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if StudentExam.needing_check.any? %>
  <p>Click <%= link_to 'here', edit_student_exam_path(StudentExam.needing_check.first) %> to correct errors.</p>
<% end %> 
