<%= title 'New Student Exam', link_to('Back', student_exams_path) %>

<%= simple_form_for(@student_exam, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :card, hint: '.tif, .rar ou .zip' %>
    <%= f.association :card_type, input_html: { class: 'is-chosen' } %>
    <%= f.association :exam, input_html: { class: 'is-chosen' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
