<%= title 'New Student Exam', link_to('Back', student_exams_path) %>

<%= simple_form_for(@student_exam, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :card, hint: '.tif, .rar ou .zip' %>
    <%= f.association :card_type %>
    <%= f.input :date, as: :date, collection: ??? %>
    <%= f.input :is_bolsao %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
