<%= title 'Upload Student Exam', link_to('Back', root_path) %>

<%= form_tag '/student_exams', { multipart: true, class: 'simple_form' } do %>
  <div class='form-inputs'>
    <div class='input'>
      <label>File</label>
      <%= file_field_tag 'file' %>
      <span class='hint'>Zip, rar or tif</span>
    </div>
    <div class='input'>
      <label>Exam</label>
      <%= collection_select :student_exam, :exam_id, Exam.all, :id, :name, {}, { class: 'is-chosen' } %>
    </div>
  </div>

  <div class='form-actions'>
    <%= submit_tag 'Upload', { class: 'btn' } %>
  </div>
<% end %>