<%= title 'Cartão-Resposta',
  (link_to('Marcar como Error', error_student_exam_path(@student_exam)) if @student_exam.status != StudentExam::ERROR_STATUS),
  (link_to('Checar', edit_student_exam_path(@student_exam)) if @student_exam.needs_check?),
  link_to('Voltar', @student_exam.card_processing) %>

<div class='tabs'>
  <ul>
    <li><a href='#info'>Info</a></li>
    <li><a href='#original_card'>Cartão Original</a></li>
    <li><a href='#normalized_card'>Cartão Normalizado</a></li>
  </ul>

  <div id='info'>
    <div class='resource'>
      <h2>Informações Escaneadas</h2>
      <p>
        <span>RA do Aluno: </span><%= @student_exam.student_number %><br />
        <span>Código da Prova: </span><%= @student_exam.exam_code %><br />
        <span>Respostas: </span><%= print_long_string(@student_exam.string_of_answers, 10) %><br />
      </p>

      <h2>Informações do Cartão</h2>
      <p>
        <% if @student_exam.needs_check? %>
          This card needs check! <%= link_to('Checar', edit_student_exam_path(@student_exam)) %><br />
        <% end %>
        <span>Aluno: </span><%= @student_exam.student.nil? ? 'Não Encontrado' : link_to(@student_exam.student.name, student_path(@student_exam.student)) %><br />
        <span>Prova: </span><%= @student_exam.exam_execution.nil? ? 'Não Encontrada' : link_to(@student_exam.exam_execution.try(:name), exam_path(@student_exam.exam_execution.exam)) %><br />
        <span>Status: </span><%= @translations[@student_exam.status] || 'Não Encontrado' %>
        <% if @student_exam.repeated_student? %>
          (
          <% @student_exam.repeated_cards.each_with_index do |repeated, index| %>
            <%= link_to(repeated.id, student_exam_path(repeated)) %>
          <% end %>
          )
        <% end %>
        <br />
        <span>Unidade: </span><%= @student_exam.card_processing.try(:campus).try(:name) || 'Não Encontrada' %><br />
        <span>Data de Aplicação: </span><%= print_date(@student_exam.card_processing.try(:exam_date)) || 'Não Encontrada' %><br />
        <br />
        <span>Nota Total: </span>
        <%= 
            if @student_exam.exam_answers.present?
              (10.0 * @student_exam.number_of_correct_answers.to_f/@student_exam.total_number_of_questions.to_f).to_s + ' (' + @student_exam.number_of_correct_answers.to_s + '/' + @student_exam.total_number_of_questions.to_s + ')'
            else
              'Não Encontrada'
            end
        %>
        <br />
        <% if @student_exam.exam_answers.present? %>
          <% @student_exam.exam_execution.exam.exam_subjects.each do |subject| %>        
            <span style='margin-left:20px'><%= "\t#{subject.code}: " %></span>
            <%= 
              (10.0 * @student_exam.number_of_correct_answers(subject.name).to_f/@student_exam.total_number_of_questions(subject.name).to_f).to_s + ' (' + @student_exam.number_of_correct_answers(subject.name).to_s + '/' + @student_exam.total_number_of_questions(subject.name).to_s + ')'
            %>
            <br />
          <% end %>
        <% end %>
      </p>
    </div>
    <table id='student_exam_exam_answers' class='display is-datatable'>
      <thead>
        <tr>
          <th>Question Number</th>
          <th>Subject</th>
          <th>Correct Option</th>
          <th>Marked Option</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @student_exam.exam_answers.each do |exam_answer| %>
        <tr>
          <td><%= exam_answer.exam_question.number.to_s %></td> 
          <td><%= exam_answer.exam_question.question.topics.first.subject.short_name.mb_chars.capitalize.to_s %></td>
          <td><%= exam_answer.exam_question.question.correct_options.map(&:letter).join(', ') %></td> 
          <td><%= exam_answer.answer %></td> 
          <td>
              <% if exam_answer.exam_question.question.correct_options.size == 5 || exam_answer.exam_question.question.correct_options.map(&:letter).include?(exam_answer.answer) %>
                <%= image_tag('correct16.png', id: 'correct_check') %>
              <% else %>
                <%= image_tag('wrong16.png', id: 'wrong_check') %>
              <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id='original_card'>
    <%= image_tag @student_exam.card.png.url, width: '500' %>
  </div>

  <div id='normalized_card'>
    <%= image_tag @student_exam.card.normalized_url, width: '500' %>
  </div>
</div>