<%= simple_form_for(@exam_cycle) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nome' %>
    <%= f.input :start_date, label: 'Início' %>
    <%= f.input :end_date, label: 'Término' %>
    <%= hidden_field_tag :is_bolsao, false %>
    <%= f.association :product_year, label: 'Produto' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
