<%= title 'Exam Cycles', link_to('New Exam Cycle', new_exam_cycle_path) %>

<table id='exam_cycles' class='display is-datatable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Is Bolsao</th>
    </tr>
  </thead>

  <tbody>
  <% @exam_cycles.each do |exam_cycle| %>
    <tr>
      <td>
        <%= exam_cycle.name %>
        <span>
          <%= link_to 'Edit', edit_exam_cycle_path(exam_cycle) %> |
          <%= link_to 'Destroy', exam_cycle, method: :delete, confirm: 'Are you sure?' %>
        </span>
      </td>
      <td><%= exam_cycle.product_year.name %></td>
      <td><%= print_date(exam_cycle.start_date) %></td>
      <td><%= print_date(exam_cycle.end_date) %></td>
      <td><%= exam_cycle.is_bolsao.to_s.capitalize %></td>
    </tr>
  <% end %>
  </tbody>
</table>
