<%= title 'Ciclos', link_to('Novo Ciclo', new_exam_cycle_path) %>

<table id='exam_cycles' class='display is-datatable'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ano</th>
      <th>Início</th>
      <th>Término</th>
      <th>Bolsão?</th>
    </tr>
  </thead>

  <tbody>
  <% @exam_cycles.each do |exam_cycle| %>
    <tr>
      <td>
        <%= exam_cycle.name %>
        <span>
          <%= link_to 'Editar', edit_exam_cycle_path(exam_cycle) %> |
          <%= link_to 'Deletar', exam_cycle, method: :delete, confirm: 'Você tem certeza?' %>
        </span>
      </td>
      <td><%= exam_cycle.product_year.name %></td>
      <td><%= print_date(exam_cycle.start_date) %></td>
      <td><%= print_date(exam_cycle.end_date) %></td>
      <td><%= exam_cycle.is_bolsao ? "Sim" : "Não" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
