<%= simple_form_for(@card_processing, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @specific_exam %>
      <%= f.input :name, label: 'Nome',
        readonly: true, 
        input_html: {value: @exam_execution.full_name, size: 100} %>
      <%= f.input :exam_date, 
        as: :date, 
        readonly: true, 
        label: 'Data de aplicação',
        input_html: {value: @exam_execution.datetime.to_date.strftime('%d/%m/%Y')} %>
      <%= f.hidden_field :is_bolsao, value: @exam_execution.is_bolsao %>
    <% else %>
      <%= f.input :name, label: 'Nome' %>
      <%= f.input :exam_date, as: :date, label: 'Data de aplicação' %>
      <%= f.hidden_field :is_bolsao, value: false %>
    <% end %>
    <%= f.input :file, hint: '.rar, .zip ou .tif', label: 'Arquivo' %>
    <%= f.association :card_type, collection: CardType.order('created_at DESC'), include_blank: false, label: 'Tipo de cartão'%>
    <% if @specific_exam %>
      <%= f.hidden_field :campus_id, 
        value:  @exam_execution.super_klazz.campus_id %>
      <%= f.hidden_field :exam_execution_id, 
        value:  @exam_execution.id %>
    <% else %>
      <%= f.association :campus, 
        collection: @accessible_campuses,
        include_blank: @campus_include_blank, label: 'Unidade' %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
