<%= simple_form_for(@card_processing, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @specific_exam %>
      <%= f.input :name, label: 'Nome',
        readonly: true, 
        input_html: {value: @exam_execution.full_name} %>
      <%= f.input :exam_date, 
        as: :date, 
        readonly: true, 
        input_html: {value: @exam_execution.datetime.to_date.to_s} %>
    <% else %>
      <%= f.input :name %>
      <%= f.input :exam_date, as: :date %>
      <!--  <%= f.input :is_bolsao %> -->
    <% end %>
    <%= f.input :file, hint: '.rar, .zip ou .tif' %>
    <%= f.association :card_type, include_blank: false %>
    <% if @specific_exam %>
      <%= f.hidden_field :campus_id, 
        value:  @exam_execution.super_klazz.campus_id %>
      <%= f.hidden_field :exam_execution_id, 
        value:  @exam_execution.id %>
    <% else %>
      <%= f.association :campus, 
        collection: @accessible_campuses,
        include_blank: @campus_include_blank %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
