<%= title 'Cartões-Resposta', 
  (link_to('Checar', edit_student_exam_path(@card_processing.to_be_checked)) if @card_processing.needs_check?),
  link_to('Voltar', card_processings_path) %>

<div class='resource'>
  <p>
    <span>Nome: </span><%= @card_processing.name %><br />
    <span>Data de aplicação: </span><%= print_date(@card_processing.exam_date) %><br />
    <span>Tipo de cartão: </span><%= @card_processing.card_type.name %><br />
    <span>Unidade: </span><%= @card_processing.campus.name %><br />
  </p>
</div>

<table id='card_processing_student_exams' class='display is-datatable'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Aluno</th>
      <th>Scanned Student Number</th>
      <th>Scanned Answers</th>
    </tr>
  </thead>

  <tbody>
  <% @card_processing.student_exams.each do |student_exam| %>
    <tr>
      <td>
        <%= @translations[student_exam.status] %>
        <span class='float-right'>
          <%= link_to 'Mostrar', student_exam %>
          <% if student_exam.needs_check? %>
            | <%= link_to 'Checar', edit_student_exam_path(student_exam) %>
          <% end %>
        </span>
      </td> 
      <td><%= student_exam.student.try(:name) || 'No student' %></td>
      <td><%= student_exam.student_number %></td>
      <td><%= print_long_string(student_exam.string_of_answers, 10) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
