<%= title 'Card Processing', 
  link_to('Back', card_processings_path) %>

<div class='resource'>
  <p>
    <span>Exam date: </span><%= print_date(@card_processing.exam_date) %><br />
    <span>Is Bolsao: </span><%= @card_processing.is_bolsao ? 'True' : 'False' %><br />
    <span>Card Type: </span><%= @card_processing.card_type.name %><br />
  </p>
</div>

<table id='card_processing_student_exams' class='display is-datatable'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Filename</th>
      <th>Student</th>
      <th>Exam</th>
      <th>Scanned Student Number</th>
      <th>Scanned Answers</th>
    </tr>
  </thead>

  <tbody>
  <% @card_processing.student_exams.each do |student_exam| %>
    <tr>
      <td>
        <%= student_exam.status %>
        <span class='float-right'>
          <%= link_to 'Show', student_exam %>
          <% if student_exam.needs_check? %>
            | <%= link_to 'Check', edit_student_exam_path(student_exam) %>
          <% end %>
        </span>
      </td> 
      <td><%= File.basename student_exam.card.path %></td>
      <td><%= student_exam.student.try(:name) || 'No student' %></td>
      <td><%= student_exam.exam.try(:name) || 'No exam' %></td>
      <td><%= student_exam.student_number %></td>
      <td><%= print_long_string(student_exam.string_of_answers, 10) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
