<%= title @teacher.nickname + ' - Time Table' %>

<%= navigation(@date) %>

<%= search(teacher_time_table_path(@teacher), @date) %>

<table id='calendar'>
  <tr>
    <%= content_tag :td, {class: 'time_cell', data: {teacher_id: @teacher.id}} {} %>
    <% @dates.each do |date| %>
      <%= content_tag :td, class: 'day_cell', data: {date: date} do %>
        <span class='bold'><%= Date::DAYNAMES[date.wday] %></span><br />
        <%= date.strftime('%-d/%-m/%Y') %>
      <% end %>
    <% end %>
  </tr>
  <% (0..15).each do |i| %>
    <tr>
      <%= content_tag :td, class: 'time_cell', data: {position: i} { @times[i] } %>
      <% @dates.each do |date| %>
        <td class='cell'>
          <% @teacher.find_time_tables_by_date_and_position(date, i).each do |time_table| %>
            <div class='time_table'>
              <span class='klazz_name'><%= time_table.teaching_assignment.klazz.name %></span><br />
              <span class='subject_code'><%= time_table.teaching_assignment.subject.code %></span><br />
              <span class='time_table_id' style='display: none;'><%= time_table.id %></span>
            </div>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
