<%= title @teacher.nickname + ' - Report' %>

<%= form_tag teacher_report_path(@teacher), method: 'get' do %>
  <%= select_date @date, discard_day: true %>
  <%= submit_tag 'Go' %>
<% end %>

<h2>Assigned klazzes</h2>
<% if @klazz_periods.empty? %>
  <p>None</p>
<% else %>
  <% @klazz_periods.group_by(&:date).each do |date, klazz_periods| %>
    <p><%= date %></p>
    <p>
      <% klazz_periods.each do |klazz_period| %>
        <%= klazz_period.time %> 
        <%= klazz_period.teaching_assignment.klazz.name %> 
        (<%= klazz_period.teaching_assignment.subject.code %>)
        <% if klazz_period.teacher_absence %>
        - ABSENT
        <% end %>
        <br />
      <% end %>
    </p>
  <% end %>
<% end %>

<h2>Substitute klazzes</h2>
<% if @substitute_klazz_periods.empty? %>
  <p>None.</p>
<% else %>
  <% @substitute_klazz_periods.group_by(&:date).each do |date, klazz_periods| %>
    <p><%= date %></p>
    <p>
      <% klazz_periods.each do |klazz_period| %>
        <%= klazz_period.time %> 
        <%= klazz_period.teaching_assignment.klazz.name %> 
        (<%= klazz_period.teacher_absence.subject.code %>)
        <br />
      <% end %>
    </p>
  <% end %>
<% end %>