<%= title @teacher.nickname + ' - Report' %>

<%= form_tag teacher_report_path(@teacher), method: 'get' do %>
  <%= select_date @date, discard_day: true %>
  <%= submit_tag 'Go' %>
<% end %>

<h2>Assigned klazzes</h2>
<% if @periods.empty? %>
  <p>None</p>
<% else %>
  <% @periods.group_by(&:date).each do |date, periods| %>
    <p><%= date %></p>
    <p>
      <% periods.each do |period| %>
        <%= period.time %> 
        <%= period.teaching_assignment.klazz.name %> 
        (<%= period.teaching_assignment.subject.code %>)
        <% if period.teacher_absence %>
        - ABSENT
        <% end %>
        <br />
      <% end %>
    </p>
  <% end %>
<% end %>

<h2>Substitute klazzes</h2>
<% if @substitute_periods.empty? %>
  <p>None.</p>
<% else %>
  <% @substitute_periods.group_by(&:date).each do |date, periods| %>
    <p><%= date %></p>
    <p>
      <% periods.each do |period| %>
        <%= period.time %> 
        <%= period.teaching_assignment.klazz.name %> 
        (<%= period.teacher_absence.subject.code %>)
        <br />
      <% end %>
    </p>
  <% end %>
<% end %>