<%= form_tag '' do %>
  <div class='form-inputs'>
    <div class='input'>
      <%= label :schedule, :subject_id %>
      <%= select :schedule, :subject_id, 
        @klazz.subjects.map { |s| [s.name, s.id] }, 
        { include_blank: true } %>
    </div>

    <div class='input'>
      <%= label :schedule, :teacher_id %>
      <%= select :schedule, :teacher_id, 
        @klazz.teachers.map { |s| [s.nickname, s.id] }, 
        { include_blank: true } %>
    </div>

    <%= hidden_field :schedule, :klazz_id, value: @klazz.id %>
  </div>
<% end %>

<table></table>