<%= title 'Turmas', 
  (link_to('New Klazz', new_klazz_path) if can?(:create, Klazz)) %>

<table id="klazzes" class="display is-datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>SuperKlazz</th>
    </tr>
  </thead>

  <tbody>
  <% @klazzes.each do |klazz| %>
    <tr>
      <td>
        <%= klazz.name %>
        <span class='float-right'>
          <%= link_to 'Show', klazz %>
          <% if can?(:update, klazz) %>
            | <%= link_to 'Edit', edit_klazz_path(klazz) %>
          <% end %>
        </span>
      </td>
      <td><%= klazz.super_klazz.label_method %></td>
    </tr>
  <% end %>
  </tbody>
</table>