<%= title 'Klazzes', link_to('New Klazz', new_klazz_path) %>

<table id="klazzes" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Campus</th>
      <th>Year</th>
      <th>Product</th>
      <th>Product Type</th>
    </tr>
  </thead>

  <tbody>
  <% @klazzes.each do |klazz| %>
    <tr>
      <td>
        <%= klazz.name %>
        <%= content_tag :span, class: 'float-right' do 
          link_to('Time Table', klazz_time_table_path(klazz)) + 
          ' | ' + 
          link_to('Edit', edit_klazz_path(klazz))
        end %>
      </td>
      <td><%= klazz.campus.name %></td>
      <td><%= klazz.year.name %></td>
      <td><%= klazz.year.product.name %></td>
      <td><%= klazz.year.product.product_type.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>