<%= title @klazz.name, 
  (link_to('Edit', edit_klazz_path(@klazz)) if can?(:update, @klazz)),
  link_to('Back', klazzes_path) %>

<div class='tabs'>
  <ul>
    <li><a href='#info_tab'>Info</a></li>
    <li><a href='#students_tab'>Students</a></li>
    <li><%= link_to 'Calendar', klazz_periods_path(@klazz), title: 'calendar_tab' %></li>
  </ul>

  <div id='info_tab' class='resource'>
    <p><span>Super Klazz: </span><%= @klazz.super_klazz.name %></p>
  </div>

  <% if false %>
    <div id='students_tab'>
      <table id="students" class="display is-datatable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Ra</th>
            <th>Email</th>
          </tr>
        </thead>

        <tbody>
        <% @klazz.enrolled_students.each do |student| %>
          <tr>
            <td>
              <%= student.name %>
              <% if current_employee.admin? %>
                <span style='float: right;'>
                  <%= link_to 'Show', student_path(student) %> |
                  <%= link_to 'Edit', edit_student_path(student) %> |
                  <%= link_to 'Destroy', student, method: :delete, confirm: 'Are you sure?' %>
                </span>
              <% end %>
            </td>
            <td><%= student.ra %></td>
            <td><%= student.email %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>