<%= simple_form_for(@exam) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :subject %>

    <% if @exam.new_record? %> 
      <div class='form-fields'>
        <%= f.input :options_per_question %>
        <%= f.input :correct_answers %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
