<%= title 'Provas', 
  link_to('Nova Prova', new_exam_path) %>

<h2>Importar Provas</h2>
<p>Formato: Código de Prova,Unidades,Produto,Nome,Ciclo,Disciplinas,Respostas (CSV sem cabeçalho)</p>
<%= form_tag import_exams_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>
<br>

<table id='exams' class='display is-datatable'>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
    </tr>
  </thead>

  <tbody>
  <% @exams.each do |exam| %>
    <tr>
      <td><%= exam.code %></td>
      <td>
        <%= exam.name %>
        <span>
          <%= link_to 'Mostrar', exam %> |
          <%= link_to 'Editar', edit_exam_path(exam) %> |
          <%= link_to 'Deletar', exam, method: :delete, confirm: 'Você tem certeza?' %> 
        </span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
