<%= title 'Exams', 
  link_to('New Exam', new_exam_path) %>

<table id='exams' class='display is-datatable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Datetime</th>
      <th>Exam cycle</th>
    </tr>
  </thead>

  <tbody>
  <% @exams.each do |exam| %>
    <tr>
      <td>
        <%= exam.name %>
        <span>
          <%= link_to 'Show', exam %> |
          <%= link_to 'Edit', edit_exam_path(exam) %> |
          <%= link_to 'Destroy', exam, method: :delete, confirm: 'Are you sure?' %> 
        </span>
      </td>
      <td><%= print_datetime(exam.datetime) %></td>
      <td><%= exam.exam_cycle.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
