<%= title 'Provas', 
  link_to('Baixar Provas', download_exams_path(format: 'csv')),
  link_to('Nova Prova', new_exam_path) %>

<h2>Importar Provas</h2>
<p>Formato: Bolsão,Data,Unidades,Turmas,Avaliação,Ciclo,CODETAPA,Disciplinas,Respostas,Código de prova (CSV sem cabeçalho)</p>
<%= form_tag import_exams_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>
<br>

<table id='exams' class='display is-datatable'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Turmas</th>
      <th>Datas</th>
      <th>Código</th>
      <th>Links</th>
    </tr>
  </thead>

  <tbody>
  <% @exams.each do |exam| %>
    <tr>
      <td><%= exam.name %></td>
      <td><%= exam.exam_product_years.map(&:name).join(', ') %></td>
      <td><%= exam.exam_dates.map{|date| print_date(date)}.join(', ') %></td>
      <td><%= exam.code %></td>
      <td>
        <span>
          <%= link_to 'Mostrar', exam %> |
          <%= link_to 'Editar', edit_exam_path(exam) %> |
          <%= link_to 'Resultado', result_exam_path(exam) %> |
          <%= link_to 'Deletar', exam, method: :delete, confirm: 'Are you sure?' %> 
        </span>        
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
