<%= title 'Exam - ' + @exam.name, 
  link_to('Edit', edit_exam_path(@exam)),
  link_to('Back', exams_path) %>

<div class='resource'>
  <p><span>Datetime: </span><%= print_datetime(@exam.exam_datetime) %>
  <p><span>Ciclo: </span><%= @exam.exam_executions.first.try(:exam_cycle).try(:name) || 'Não Encontrado' %>
  <p><span>Disciplinas: </span><%= @exam.subjects %>
  <p><span>Opções por questão: </span><%= @exam.options_per_question.to_s %>
  <p><span>Gabarito: </span><%= @exam.correct_answers %>
  <p><span>Código de Prova: </span><%= @exam.code || "Sem código" %>
</div>

<h2>Questions</h2>
<table id='exam_questions' class='display is-datatable'>
  <thead>
    <tr>
      <th>Questão</th>
      <th>Disciplina</th>
      <th>Gabarito</th>
    </tr>
  </thead>

  <tbody>
  <% @exam.exam_questions.includes(:question).each do |exam_question| %>
    <tr>
      <td>
        <%= exam_question.number %>
        <span>
          <%= link_to 'Mostrar', exam_question.question %> |
          <%= link_to 'Editar', edit_question_path(exam_question.question) %>
        </span>
      </td>
      <td><%= exam_question.question.topics.map(&:subject).map(&:code).uniq.join(', ') %>
      <td><%= exam_question.question.correct_options.map(&:letter).join(', ') %></td>
</td>
    </tr>
  <% end %>
  </tbody>
</table>