<%= title 'Products' %>

<table id="products" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Product type</th>
      <th>Product Group</th>
    </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= product.name %>
        <%= link_to 'Edit', edit_product_path(product), class: 'float-right' %>
      </td>
      <td><%= product.product_type.name %></td>
      <td><%= product.product_group.try(:name) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
