<%= simple_form_for(@year) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number, label: 'Ano' %>
    <%= f.input :start_date, as: :date, label: 'Início' %>
    <%= f.input :end_date, as: :date, label: 'Término' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
