<%= title 'Anos', link_to('Novo Ano', new_year_path) %>

<table id="years" class="display is-datatable">
  <thead>
    <tr>
      <th>Ano</th>
      <th>Início</th>
      <th>Final</th>
    </tr>
  </thead>

  <tbody>
  <% @years.each do |year| %>
    <tr>
      <td>
        <%= year.number %> 
        <%= link_to 'Editar', edit_year_path(year), class: 'float-right' %>
      </td>
      <td><%= print_date(year.start_date) %></td>
      <td><%= print_date(year.end_date) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
