<!DOCTYPE html>
<html>
  <head>
    <title>Elite<%= yield(:title) %></title>
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//cdn.zopim.com/?1G8E8yoisSRTM6SoLIyK1FO3un505zGM';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');$zopim.livechat.bubble.hide();
    </script>
    <!--End of Zopim Live Chat Script-->    
  </head>
  
  <body>
    <div id='header'>
      <div id='left-header'>
        <%= link_to image_tag('elite-logo.png', id: 'logo'), root_path %>
      </div>
      <div id='right-header'>
        <div id='navigation'>
          <% if current_employee %>
            <%= select_roles current_employee, current_role %>
            <%= link_to current_employee.name, 
              current_employee, class: 'first' %>
            <%= link_to 'Log Out', logout_path %>
          <% else %>
            <%= link_to 'Log In', '/auth/google_oauth2', class: 'first' %>
          <% end %>
        </div>
        <%= flash_message(flash) %>
      </div>
    </div>

    <div id='content'><%= yield %></div>
    <div id='footer'></div>
  </body>
</html>
